# Make anotehr copy of this file and remove the .example
# from this to make it .env.test

# Env variables for testing flask
FLASK_ENV=development
DATABASE_URL=postgresql+psycopg2://postgres:demo@test-db:5432/test_db

# Secret keys were generated with secrets.token_urlsafe()
SECRET_KEY=gMROZUDJ-aMLpOWtwxulVOCDJQgMysPhilDd8onPzFI
JWT_SECRET_KEY=HPNrAA4gHPOKNXREdfYTBHTnYEoPyVxrHQviYsKReXM

# Redis env variables
REDIS_HOST=test-redis-cache
REDIS_PORT=6379
