version: '3.5'
services:
  redis-cache:
    image: redis:alpine
    # *CHANGE THIS PASSWORD TO SOMETHING SECURE*
    command: redis-server --requirepass remembertochangethispass
    ports:
      - '6379:6379'
  db:
    image: postgres:alpine
    # *CHANGE THIS PASSWORD TO SOMETHING SECURE*
    environment:
      - POSTGRES_PASSWORD=demo
      - POSTGRES_DB=flask_api
    restart: always
    ports:
      - 5432:5432
    expose:
      - 5432
  api:
    container_name: backend_api
    depends_on:
      - db
      - redis-cache
    env_file:
      - .env.dev
    build:
      context: ./backend
      dockerfile: Dockerfile.dev
    restart: always
    volumes:
      - './backend:/backend'
    ports:
      - 5000:5000
    expose:
      - 5000
